.employee{
    width: 12.5em;
    // height: 14.25em;
    // width: 180px;
    z-index: 2;

    img{
        width: 100%;
    }

    p{
        font-weight: 300;
        font-family: $font-light;
    }

    p:first-of-type{
        font-size: 1em;
    }
    p:last-of-type{
        font-size: 0.625em;
    }
}