.richTextRenderer{
    // margin-top: 40px;
    font-family: $font-light;
    color: #262626;

    h1{
        font-size: 1.5em;
    }

    h3{
        margin-top: 10px;
    }


    p{
        margin-top: 10px;
        line-height: 1.3em;
    }
}