/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.youtube{
  height: 40px !important;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1440px) {
  body {
    font-size: 16px !important; /* Для планшетов и небольших экранов */
  }
}


@media (min-width: 1800px) {
  body {
    font-size: 20px !important;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 24px !important;
  }
}


body {
  font-size: 14px; /* Базовый размер */
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Для планшетов и небольших экранов */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px; /* Для смартфонов */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  /* margin-top: 40px; */
  padding: 0 60px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  @media (max-width: 560px) {
    padding: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
