.widget{
    position: relative;
    .widgetBlock{
        content: '';
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 260px;

        &__text{
            background: white;
            padding: 1px 4px;

        }
        span{
            height: 18px;
            font-size: 2em;
            font-family: $font-light;
        }
        img{
            position: relative;
            width: 100%;
        }
    }
}